<div class="card-deck mt-3">

  <% @genres.random_genres.each do |genre| %>
    <% if genre.events.any? %>

      <!-- Responsive -->
      <div class="genre-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">

        <div class="card bg-dark text-white ">

          <!-- The entire card is the link -->
          <%= link_to genre_path(genre) do %>
            <% if genre.events.any? %>
            <!-- Genre's image in 16x9 -->
              <img class="card-img" src="<%= genre.events.joins(:images).random_event.first.images.sixteen_by_nine.first.url %>" alt="Card image">
            <% end %>

            <div class="card-img-overlay">
              <div class="row">
                <!-- Genre's name -->
                <div class="col-9">
                  <h4 class="card-title genre-title"><%=genre.name%></h4>
                </div>
              </div>
            </div>

          <%end%>
        </div> <!-- End of card -->

        <!-- Icon-heart -->
        <%= link_to favourite_genre_path(genre), method: :post, class: "favourite-heart" do %>
          <% if current_user && current_user.genres.include?(genre) %>
            <span class="icon-heart favorite"></span>
          <% else %>
            <span class="icon-heart unfavorite"></span>
          <% end %>
        <% end %>

      </div> <!-- End of responsive -->
    <% end %>
  <% end %>
</div>
