<h1>Genres#index</h1>

<div class="card-deck">
  <% @genres.each do |genre| %>
    <% if genre.events.any? %>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
        <a href="<%= genre_url(genre) %>"><div class="card bg-dark text-white ">
          <img class="card-img" src="<%= genre.events.first.images.sixteen_by_nine.first.url %>" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title genre-title"><%=genre.name%></h4>
          </div>
        </div></a>
      </div>
    <% end %>
  <% end %>
</div>
