
<h1>Venues</h1>

<div class="card-deck">
  <% @venues.each do |venue| %>
  <div class="col-3">
    <div class="card">
        <% if venue.venue_images %>
      <!--<img class="card-img-top" src="<%#= venue.venue_images.sample.url %>" alt="Card image cap">-->
    <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= venue.name %></h4>
        <a href="<%= venue_path(venue.id) %>" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
