
<h1>Venues</h1>

<div class="card-deck">
  <% @venues.each do |venue| %>
  <div class="col-3">
    <div class="card">
      <!--<img class="card-img-top" src="<%#= event.images.where(ratio: "16_9").first.url %>" alt="Card image cap">-->
      <div class="card-body">
        <h4 class="card-title"><%= venue.name %></h4>
        <!--<%# <p class="card-text"><small class="text-muted"><%#= venue.date %></small></p> %>-->
        <a href="<%= venue_path(venue.id) %>" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
