
<h1>Venues</h1>

<div id="venues_map"></div>

<div class="card-deck">
  <% @venues.each do |venue| %>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3">
    <div class="card">
        <% if venue.venue_images %>
      <!--<img class="card-img-top" src="<%#= venue.venue_images.sample.url %>" alt="Card image cap">-->
    <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= venue.name %></h4>
        <a id="venue<%= venue.id %>" href="<%= venue_path(venue.id) %>" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["MAPS_KEY"]%>&callback=venueIndexMap" async defer></script>
