// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  #map{
    width: 80%;
    height: 300px;
    margin: 0 auto 30px;
  }

  .content {
    width: 200px;
  }

  .content h1 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .content p {
    margin-bottom: 2px;
  }

  .content a {
    color: green;
  }

  .content a:hover {
    color: #28a745;
    text-decoration: none;
  }
