// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-title {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
}

#genre-map {
  width: 80%;
  height: 400px;
  margin: 0 auto 30px;
}
