// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#genre-map {
  margin: 0 auto;
  width: 95%;
  height: 350px;
  margin-bottom: 30px;
}

.carousel-caption{
  bottom: 0;
  background: black;
  opacity: 0.6;
  top: 0;
  width: 100%;
  left: 0;
  font-size: 50px;
  padding: 22% 125px 0;
}

.carousel-caption h3{
  font-size: 60px;
}

.genre-title {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: white;
}


.icon-heart {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 3px;
}

.genre-card {
  border: none;
  position: relative;
}

.row{
  position: relative;
  bottom: 10px;
  left:-7px;
}

.favourite-heart{
  position: absolute;
  top: 15px;
  right: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.favourite-heart span {
  background: none;
}

.favourite-heart:hover{
  text-decoration: none;
  cursor: pointer;
}

.favourite {
  color: red;
}

.unfavourite {
  color: white;
}
