// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#genre-map {
  border: solid 1px red;
  width: 80%;
  height: 400px;
  margin: 0 auto 30px;
}
