// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.delete-genre{
  float: right;
  color: red;
}

.favourite-list,
.events-list {
  overflow: hidden;
}
